*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto Regular";
    margin: 0;
}

/* Configuration de la nav bar */

.menu {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 1rem;
}

.menu a {
    color: black;
    font-weight: bold;
    padding-right: 1rem;
}

.menu a:hover {
    color: goldenrod;
    font-weight: bold;
    padding-right: 1rem;
}

/* Configuration du header*/

header {
    height: 420px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    align-items: center;

}
.bannerlogo {
    background-image: url(../images/Resident_Evil_4_Logo_Light_Outlined.png);
    width: 30%;
    height: 30%;
    background-size: cover;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 25px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    margin-top: 1rem;
}

/* Configuration du main */

.survivez {
    margin-top: 50px;
    margin-left: 240px;
    width: 900px;
    height: 110px;
    background-color: white;
    margin-bottom: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.ensavoirplus {
    width: 90px;
    height: 20px;
    padding: 10px 20px;
    background-color: #c0192a;
    color: white;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.ensavoirplus:hover {
    background-color: goldenrod;
}

.actualites {

    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}


.features {
    
    width: 300px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    top: 5px;  
    position: relative;
    margin-block-end: 50px;
    background-color: #282725;
    margin-left: 20px;

}

h3 {
    color: white;
}

.features h3 {
    margin-top: 30px;
    margin-left: 10px;
}

.features p {
    text-align:left;
    position:relative;
    top: 10px;
    left: 10px;
    right: 20px;
    color: white;
    text-align: left;
}

.features img {
    height: 200px;
    width: 300px;
}

/* Configuration du footer */

.abonnez {
    background-color:#292b2c ;
    color:white;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4 {
    font-size: 1.2rem;
    top:40px
}

#email {
    top: 50px;
    border-radius: 5%;
    padding: 10px 25px;
}
#btn-abonner { 
    position: relative;
    padding: 10px 25px;
    background-color: #c0192a;
    color: white;
    text-align: center;
    border-radius: 10%;
}

#btn-abonner:hover {
    background-color: goldenrod;
}

/* Configuration du navbottom */

.navbottom {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbottom a {
    color: white;
}

.navbottom img {
    padding: 1rem;
    width: 10%;
}

.pieddepage {
    display: flex;
    padding: 0;
}

.pieddepage li a {
    padding: 0 1rem;
    color: white;
}

.pieddepage li a:hover {
    padding: 0 1rem;
    color: goldenrod;
}